
RewriteEngine on
RewriteCond %{HTTP_HOST} ^icc\.com\.pe$ [OR]
RewriteCond %{HTTP_HOST} ^www\.icc\.com\.pe$
RewriteRule ^ee\/new\/$ "https\:\/\/www\.publiperu\.pe\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^icc\.com\.pe$ [OR]
RewriteCond %{HTTP_HOST} ^www\.icc\.com\.pe$
RewriteRule ^ee\/new\/css\/u5fdvo\/\/\/\/c3N0ZXZlbnNvbkBhcmNoZXJwb2ludC5jb20\=$ "https\:\/\/www\.publiperu\.pe\/" [R=301,L]



# Reglas para MVC Front Controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/assets/ [NC]
RewriteCond %{REQUEST_URI} !^/administrador/ [NC]
RewriteCond %{REQUEST_URI} !^/Aula/ [NC]
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

